@model APS_LostProperty.Models.LostItem

@{
    ViewData["Title"] = "Details";
}

<div class="card shadow-sm fs-3 p-4 mx-auto container pt-4"
     style="max-width: 900px; width: 100%;">
    <div>

        <div class="card-body mt-5">

            <h1 class="text-center mb-3 fw-bold" style="font-size: 2.2rem;">
                Lost Item Details
            </h1>

            <hr />

            <dl class="row mb-4">

                <dt class="col-sm-4 fw-semibold fs-4">
                    @Html.DisplayNameFor(model => model.ItemName)
                </dt>
                <dd class="col-sm-8 fs-5">
                    @Html.DisplayFor(model => model.ItemName)
                </dd>

                <dt class="col-sm-4 fw-semibold fs-4">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-8 fs-5">
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt class="col-sm-4 fw-semibold fs-4">
                    @Html.DisplayNameFor(model => model.DateFound)
                </dt>
                <dd class="col-sm-8 fs-5">
                    @Html.DisplayFor(model => model.DateFound)
                </dd>

                <dt class="col-sm-4 fw-semibold fs-4">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-8 fs-5">
                    @Html.DisplayFor(model => model.Category.Name)
                </dd>

                <dt class="col-sm-4 fw-semibold fs-4">
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd class="col-sm-8 fs-5">
                    @Html.DisplayFor(model => model.Location.LocationName)
                </dd>

                <dt class="col-sm-4 fw-semibold fs-4">
                    @Html.DisplayNameFor(model => model.IsClaimed)
                </dt>
                <dd class="col-sm-8 fs-5">
                    @Html.DisplayFor(model => model.IsClaimed)
                </dd>

            </dl>

            <div class="d-flex gap-2">
                <a asp-action="Index" class="btn btn-secondary">
                    Back to List
                </a>

                <a asp-action="Edit" asp-route-id="@Model?.LostItemID" class="btn btn-primary">
                    Edit
                </a>
            </div>

        </div>

    </div>
</div>